<div class="row">
        {% for product in products %}
            <div class="mt-5 col-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-text card-link">
                            <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>

                        </h2>
                        <p class="card-text">{{ product.get_category_display }}</p>
                        <p class="card-text text-right">{{ product.price }} сом</p>
                        <div class ="d-flex justify-content-between">
                            <a class="btn btn-info" href="{% url 'product_update' product.pk %}">Изменить</a>
                            <a class="btn btn-danger" href="{% url 'product_delete' product.pk %}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>